.venv/
*.egg-info
__pycache__
/build/
/dist/
.pytest_cache
.mypy_cache
.vscode
*.swp
*.swo
.DS_Store
.idea
secrets.yml
ampel_config.yml
finder_cache
cutout_cache
scripts/*.pdf
scripts/mutliple_sources_per_visit.json